registry=https://registry.npmjs.org/
strict-ssl=true
legacy-peer-deps=true
prefer-offline=true
force=true
audit=false
fund=false
progress=false
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
@img:registry=https://registry.npmjs.org/
@eslint:registry=https://registry.npmjs.org/
@humanwhocodes:registry=https://registry.npmjs.org/
@jridgewell:registry=https://registry.npmjs.org/
@eslint-community:registry=https://registry.npmjs.org/